.hero.svelte-e1lqre{min-height:100vh;display:flex;flex-direction:column;justify-content:center}@keyframes svelte-8l7phv-fadeInUp{0%{opacity:0;transform:translateY(20px)}to{opacity:1;transform:translateY(0)}}
